
* {
  box-sizing: border-box;
  
}
  /* Header/logo Title */
  .header {
    padding: 15px;
    text-align: center;
    background: #474e5d;
    color: white;
    margin-bottom: 2px;
  }
   #title{
     font-size: 48px;
     font-weight: bold;
   }
  /* Increase the font size of the heading */
  
  .w3-tangerine {
    font-family: "Tangerine", serif;

  }
  .navbar-fixed a{
text-decoration: none;
  }
  .navbar-fixed a:hover{
    
    color: white;

  }

  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  /* .navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky; */
    /* position: -webkit-sticky; */
    /* top: 0; */
    /* margin-bottom: 5px; */
    /* width: 100%; */
    /* z-index: 1; */
  /* } */
  
  /* Style the navigation bar links */
  /* .navbar a { */
    /* display: block; */
    /* color: white; */
    /* text-align: center; */
    /* padding: 4px 6px; */
    /* text-decoration: none; */
  /* } */
    /* Right-aligned link */
    

       /* Change color on hover */
  /* .navbar a:hover { */
    /* background-color: #ddd; */
    /* color: black; */
  /* } */
   /* Active/current link */
   /* .navbar a.active {
    background-color: #666;
    color: white;
  } */
  .router-outlet{
    padding:10px;
    padding-bottom:60px;
    margin-left: 5%;
    margin-right: 5%;
    
  }
/* 
  .page-footer{
    background-color: gray;
  } */
  footer{
    color: white;
      }
  footer a{
    text-decoration: none;
    color: white;
  }
  footer li{
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .socialLinks {
    text-align: center;
    padding: 5px;
    width: 100% ;
    background-color: #4997d0;
    color: white;
  }
  .socialLinks p{
    display: inline;
    font-size: 16px;

  }
  .socialLinks img{
    
    height: 20px;
    width: 20px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom:10px;
    margin-top: 10px;
    }

    .footer-copyright p{
      text-align: center;
      margin-bottom: 0;
    }
    /* 
  footer {
    padding: 20px;
    text-align: center;
    color: white;
  }
  .row{
    margin-left: 4em;
  }
  .row a{
    color: white;
  }
  .column{
    text-align: start;
    width: 15%;

  }
  .columnFooter{
    
    width: 55%;
    text-align: initial;
    
  }
.columnFooter img{
  height: 60px;
  width: 180px;
}
.columnFooter p{
  
  width: 65%;
}

  .Copyright{ 
    width: 100%;
    background-color: #333;
    color: white; 
    margin-top: 2px;
  
  }
  .Copyright a{
    color: white;
  }
  .column1{
    text-align: right;
    width: 50%;
    margin-left: 2em;
  }
  .column2{
    text-align: right;
    width: 45%;
  }
  .column2 a{
    margin-left: 1em;
  } */

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
/* /* @media screen and (max-width: 400px) { */
  .navbar a {
    float: none;
    width: 100%;
  }
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .columnFooter img {   
    height: 50px;
    width: 140px;
  }
}
@media screen and (max-width: 300px) {
  .columnFooter img {   
    height: 40px;
    width: 100px;
  }
}
@media screen and (max-width: 250px) {
  .columnFooter img {   
    height: 35px;
    width: 70px;
  }
}
